<%= form_tag students_path do %>
  <label>Student form first name:</label><br>
 <%= text_field_tag :'student[first_name]' %><br>
 
  <label>Student form  last name:</label><br>
   <%= text_field_tag :'student[last_name]' %>
  
 
  <input type="submit" value="Submit Post">
  <%end%>
